a {
    &:hover {
        text-decoration: none;
    }
}

.mt-120 {
    margin-top: 80px;
}

.page-item {
    .active {
        color: #2a3d7e;
    }
}

.toast {
    z-index: 2000;

    .toast-body {
        color: $white;
    }
}

.red {
    background-color: red;
}

.slick-list,
.slick-slide,
.slick-track {
    display: flex !important;
}

.relative {
    position: relative;
}

.line {
    width: 250px;
    border-top: 2px solid $blue;
}

.lines_white {
    width: 250px;
    border-top: 2px solid $white;
    margin: 0 auto;
}

.btn {
    border-radius: 10px;
    background: linear-gradient(#5479fb 0%, #2a3d7e 100%);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border: 1px solid #5479fb;
    color: $white;

    &:hover {
        color: $white;
    }
}

.absolute {
    position: absolute;
    margin: 0 auto;
}

.menu {
    background-color: $white;

    ul {
        list-style: none;

        li {
            margin-right: 15px;
            margin-left: 15px;

            a {
                text-transform: uppercase;
                color: $black;
            }
        }
    }

    .svg {
        width: 15px;
    }
}

.slider {
    .absolute {
        height: 100%;
    }

    p {
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        font-size: 20px;
        color: $white;
    }
}

.main_about {
    background-image: url(../i/beack-01.png);
    background-position: right center;
    background-repeat: no-repeat;

    .img {
        &::before {
            content: '';
            width: 200px;
            height: 200px;
            background-image: url(../i/after.png);
            background-repeat: no-repeat;
            position: absolute;
            bottom: -80px;
            left: -80px;
        }
    }
}

.main_advantages {
    .line_center {
        border-top: 2px solid $blue;
        width: 200px;
        margin: 0 auto;
    }

    .slick-slide {
        padding: 15px 15px;
    }

    .slick-track {
        display: flex;
        justify-content: start;
    }
}

.h-100 {
    height: 100%;
}

.card {
    border-radius: 0px;
    border: none;
    height: 100%;
    display: flex !important;
    overflow: hidden;

    .card-title {
        font-family: Philosopher;
        font-weight: bold;
        font-size: 20px;
        color: $black;
    }

    .card-body {
        a {
            margin: auto 0 0;
        }
    }
}

.main_service {
    background-image: url(../i/back-02.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;

    h2 {
        color: $white;
    }

    p {
        color: $white;
        font-size: 16px;
    }
}

.subscription {
    background-image: url(../i/back-03.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    h2 {
        color: $white
    }

    p {
        color: $white;
    }
}

footer {
    background-image: url(../i/bg-footer.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #09355B;
    color: $white;

    ul {
        list-style: none;

        a {
            color: $white;

            &:hover {
                color: $white;
            }
        }
    }

    .copyrting {
        border-top: 1px solid $white;

        a {
            color: $white;

            &:hover {
                color: $white;
            }
        }

        i {
            font-size: 20px;
        }
    }
}

.text {
    h3 {

        font-family: Philosopher;
        font-weight: bold;
        font-size: 25px;
        color: #2a3d7e;

        &::before {
            display: inline-block;
            content: '';
            width: 24px;
            height: 24px;
            margin-right: 10px;
            background-image: url(../i/logo_little.png);
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    ol,
    ul {
        li {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }

    a {
        text-decoration: underline;
    }

    strong {
        font-style: italic;
    }
}

.clients {
    &__box {
        background-color: $white;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
        font-family: Philosopher;
        font-weight: bold;
        font-size: 18px;
        color: #2a3d7e;
        line-height: 1.1;
        text-align: center;

        .circle {
            position: absolute;
            top: -19px;
            left: 50%;
            margin-left: -61px;
        }

        img {
            align-self: center;
        }
    }
}

.contacts {
    &__box {
        background: #fff;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);

        .circle {
            position: absolute;
            top: -45px;
            left: 50%;
            margin-left: -42px;
        }

        ul {
            list-style: none;

            li {
                font-family: Philosopher;
                font-weight: bold;
                font-size: 18px;
                text-align: center;
                color: #09355b;
                a{
                    color: #2a3d7e;
                }
            }
        }
    }
}